.login-div {
    background: #eee;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.7em;
    gap: 0.5em;
}

.login-div > div > a {
    text-decoration: none;
    background: darkorange;
    color: white;
    padding: 0.3em 0.8em;
    border-radius: 0.6em;
}

.login-div > div > a:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btns-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}