form {
    background: #eee;
    padding: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
}

form > input, form > button {
    margin-bottom: 1em;
    width: 70%;
}

form > button {
    background: darkorange;
    color: white;
    padding: 0.5em 1em;
    border: 0.1px solid lightgray;
    border-radius: 0.6em;
}

form > label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

form > input {
    padding: 0.5em;
    border-radius: 0.9em;
    border: 1px solid lightgray;
}

.people {
    width: 600px;
    background-color: #eee;
    margin: 0 auto;
    text-align: center;
    padding: 0.9em;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
}

.result > p {
    font-family: Arial, Helvetica, sans-serif;
}

form > button:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.br-fix {
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
}

.people > p {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}